<nav class="navbar navbar-light bg-light d-flex justify-content-between">
  <span class="navbar-brand mb-0 h1">
    <%= link_to "Index",lists_path%>
  </span>
  <span class="navbar-brand mb-0 h1">
    <%= link_to "My Lists",lists_path%>
    <%= link_to "New List",new_list_path%>
  </span>
</nav>
